
.logo img
{
    max-height: 40px!important;
    margin-right: 50px!important;
  
} 

input
{
    display: none!important;
}
.sun
{
    cursor: pointer!important;
}
nav{

        /* transition: all 0.5s; */
        /* z-index: 997; */
        /* height: 60px; */
        box-shadow: 0px 2px 20px rgba(1,41,112,0.1)!important;
        background-color: #fff!important;
        /* padding-left: 20px; */
    
}
.bttn
{
    
    color:rgba(255, 255, 255, 1)!important;
    background-color: #FF7700!important;
}
.bttn:hover
{
    
    color:#FF7700!important;
    background-color: rgba(255, 255, 255, 1)!important;
}
.colr
{
    color: #0A2E37!important;
}